@font-face {
  font-family: "Gilroy";
  src: url("../fonts/web/gilroyextrabold.woff2");
  font-weight: bold;
}

@font-face {
  font-family: "Gilroy";
  src: url("../fonts/web/gilroylight.woff2");
  font-weight: lighter;
}

@font-face {
  font-family: "Open Sans";
  src: url("../fonts/web/opensans.woff2");
  font-weight: normal;
}

@font-face {
  font-family: "Open Sans";
  src: url("../fonts/web/opensanslight.woff2");
  font-weight: lighter;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

img {
  max-width: 100%;
  height: auto;
}

*,
* before,
* after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

.content-box-component {
  box-sizing: content-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  font-size: 15px;
  line-height: 30px;
  font-weight: lighter;
  color: #464646;
}

a {
  text-decoration: none;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

/* **************************** */

.main-header {
  background: #f8e296;
  position: relative;
  margin-top: 40px;
  padding-top: 50px;
  padding-left: 60px;
  padding-right: 60px;
  padding-bottom: 50px;
}

.main-header ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.main-header a {
  color: black;
}

.main-logo {
  position: absolute;
  left: 60px;
  top: -20px;
}

.main-logo:hover,
.main-logo:focus {
  opacity: 0.6;
}

.main-logo:active {
  opacity: 0.3;
}

.user-navigation {
  display: flex;
  justify-content: space-between;
}

.search-form {
  display: flex;
  position: relative;
}

.search-form input[type="text"] {
  position: relative;
  border: none;
  width: 440px;
  height: 49px;
  border-bottom: 2px solid transparent;
  margin: 0;
  padding: 0;
  padding-left: 40px;
  background: transparent;
}

.search-form label::after {
  position: absolute;
  content: "";
  width: 16px;
  height: 49px;
  display: inline-block;
  background-image: url("../img/svg-device/search.svg");
  background-size: 100%;
  background-position: center 18px;
  background-repeat: no-repeat;
}

.search-form input[type="text"]:focus {
  border-bottom: 2px solid black;
  outline: none;
}

.search-form input[type="text"]::-webkit-input-placeholder {
  color: #707070;
  line-height: 36px;
}

.search-form input[type="text"]:hover::-webkit-input-placeholder {
  color: #404040;
}

.search-form input[type="text"]:focus::-webkit-input-placeholder {
  color: transparent;
}

.search-button {
  position: absolute;
  width: 85px;
  height: 49px;
  border: 2px solid #000000;
  box-sizing: border-box;
  left: 356px;
  display: none;
  justify-content: center;
  align-items: center;
  background: transparent;
  cursor: pointer;
}

.search-form input[type="text"]:focus~.search-button {
  display: flex;
}

.search-form input[type="text"]:focus~.search-button:hover,
.search-form input[type="text"]:focus~.search-button:focus {
  display: flex;
  color: white;
  background-color: #000000;
}

.search-form input[type="text"]:focus~.search-button:active {
  display: flex;
  color: rgba(255, 255, 255, 0.3);
  background-color: #000000;
}

.user-list {
  display: flex;
  flex-basis: 428px;
  justify-content: flex-end;
}

.user-list li:nth-child(1) {
  margin-right: 100px;
}

.user-list li:nth-child(2) {
  margin-right: 40px;
}

.user-link {
  color: #000000;
  font-size: 15px;
  font-weight: 300;
  line-height: 36px;
  letter-spacing: 0.15px;
}

.user-link:hover,
.user-link:focus {
  opacity: 0.6;
}

.user-link:active {
  opacity: 0.3;
}

.link-enter::before,
.link-compare::before,
.link-chart::before {
  content: "";
  display: inline-block;
  position: relative;
  top: 1px;
  width: 13px;
  height: 12px;
  margin-right: 14px;
  background-position: center;
  background-repeat: no-repeat;
}

.link-enter::before {
  background-image: url("../img/svg-device/user.svg");
}

.link-compare::before {
  background-image: url("../img/svg-device/compare.svg");
}

.link-chart::before {
  background-image: url("../img/svg-device/cart.svg");
}

/* **************************** */

.main-header .services-list {
  margin-top: 40px;
  display: flex;
  position: relative;
  /* justify-content: space-between; */
}

.services-item>a {
  display: inline-block;
  color: #000000;
  font-family: "Gilroy";
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 3.6px;
  position: relative;
}

.services-item:nth-child(2) {
  margin-left: 320px;
}

.services-item:nth-child(3) {
  margin-left: 35px;
}

.services-item:last-child {
  margin-left: auto;
}

.services-item a:hover {
  opacity: 0.6;
}

.services-item a:active {
  opacity: 0.3;
}

.services-item:nth-child(1) a::after {
  content: "";
  width: 16px;
  height: 16px;
  position: absolute;
  background: url("../img/svg-device/plus.svg");
  top: 6px;
  right: -30px;
  opacity: 0.3;
}

.services-item:nth-child(1) .menu-catalogue-list {
  display: none;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: flex-start;
  height: 158px;
  width: 100%;
  position: absolute;
  background: #f8e296;
  z-index: 3;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 550px;
}

.services-item:nth-child(1):hover .menu-catalogue-list {
  display: flex;
}

.menu-catalogue-item {
  margin-bottom: 5px;
}

.services-item:nth-child(1)>a:hover~ul,
.services-item:nth-child(1)>a:focus~ul,
.services-item:nth-child(1)>a:active~ul {
  display: none;
}

/* **************************** */

.slider-image {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-basis: 560px;
  height: 495px;
  margin: 0;
}

.item-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 160px;
  height: 160px;
  background-color: #f7e296;
}

.slider {
  display: flex;
  flex-basis: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  background: linear-gradient(to bottom, #f8e296 0%, #f8e296 22%, white 22%, white 100%);
}

.slide-3,
.slide-1,
.slide-2 {
  display: none;
}

.slider-wrapper {
  position: relative;
}

.slider-controls {
  display: flex;
  position: absolute;
  width: 78px;
  height: 12px;
  justify-content: space-between;
  right: 80px;
  top: 325px;
}

.slider-controls input+label {
  cursor: pointer;
  position: relative;
  display: flex;
  width: 12px;
  height: 12px;
  justify-content: center;
  align-items: center;
  user-select: none;
}

.slider-controls input+label::before {
  z-index: 10;
  position: absolute;
  content: "";
  width: 12px;
  height: 12px;
  background: url("../img/svg-device/slider-button-empty.svg") no-repeat 0 0;
  background-size: cover;
}

.slider-controls input:checked+label::before {
  background: url("../img/svg-device/slider-button.svg") no-repeat 0 0;
  background-size: cover;
}

.stroke {
  width: 100px;
  height: 7px;
  background-color: white;
  margin-bottom: 40px;
  position: relative;
}

.stroke p {
  margin: 0;
  padding: 0;
  display: inline-block;
  position: absolute;
  top: 30px;
  right: -410px;
  color: white;
  font-family: "Gilroy";
  font-size: 179px;
  font-weight: bold;
  letter-spacing: 0.36px;
  z-index: 5;
}

@keyframes slider {
  0% {transform: scale(0.3);}
  100% {transform: scale(1);}
}

.slide-show {
  animation: slider 0.3s ease;
  display: flex;
}


.slider-slogan {
  color: #000000;
  font-family: "Gilroy";
  font-size: 47px;
  font-weight: bold;
  letter-spacing: 0.17px;
  line-height: normal;
}

.slider-detail {
  margin-top: 30px;
}

.slider-description {
  display: flex;
  flex-direction: column;
  margin-left: 40px;
  justify-content: flex-start;
  position: relative;
  padding-top: 30px;
}

.slider-description>b {
  position: relative;
  z-index: 6;
}

.slider-description ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.button {
  display: flex;
  width: 220px;
  height: 40px;
  justify-content: center;
  align-items: center;
  outline: none;
  border: none;
  background: none;
  cursor: pointer;
  transition: all 0.2s ease;
}

.button>div {
  display: flex;
  background-color: #f0c52e;
  width: inherit;
  height: 8px;
  color: #000000;
  font-family: "Gilroy";
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.215em;
  justify-content: center;
  align-items: center;
}

.button:hover,
.button:focus {
  background-color: #f0c52e;
  outline: none;
}

.button:active>div {
  color: rgba(0, 0, 0, 0.3);
}

.props-item-value {
  font-family: Gilroy;
  font-size: 36px;
  font-weight: lighter;
  letter-spacing: 0.36px;
}

.props-item .props-item-property {
  margin-top: 20px;
  color: #464646;
  font-family: "Open Sans";
  font-size: 13px;
  font-weight: normal;
  line-height: 20px;
  letter-spacing: 0.13px;
}

.slider-description .props-list {
  display: flex;
  margin-top: 40px;
}

.props-list p {
  margin: 0;
  padding: 0;
}

.props-item:not(:first-child) {
  margin-left: 60px;
}

.popular {
  margin-top: 95px;
}

.popular ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.popular-list {
  display: flex;
  justify-content: space-between;
}

.popular-list li {
  display: flex;
  flex-direction: column;
  width: 160px;
}

.popular-item {
  color: black;
  font-family: "Gilroy";
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 0.18px;
  line-height: normal;
}

.popular-item:active {
  color: rgba(0, 0, 0, 0.3);
}

.popular-item::before {
  content: "";
  display: block;
  width: 160px;
  height: 160px;
  background-color: rgba(240, 197, 46, 0.5);
  background-position: center;
  background-repeat: no-repeat;
  margin-bottom: 35px;
}

.item-1::before {
  background-image: url("../img/svg-device/popular-1.svg");
}

.item-2::before {
  background-image: url("../img/svg-device/popular-2.svg");
  background-position-y: bottom;
}

.item-3::before {
  background-image: url("../img/svg-device/popular-3.svg");
}

.item-4::before {
  background-image: url("../img/svg-device/popular-4.svg");
}

.item-5::before {
  background-image: url("../img/svg-device/popular-5.svg");
}

.item-6::before {
  background-image: url("../img/svg-device/poppular-6.svg");
}

.popular-item:hover::before {
  background-color: rgba(240, 197, 46, 1);
}

.popular-item:active::before {
  opacity: 0.3;
  background-color: rgba(240, 197, 46, 1);
}

.services {
  margin-top: 80px;
  background: linear-gradient(to bottom, white 0%, white 25%, #e5e5e5 25%, #e5e5e5 100%);
  min-height: 390px;
  width: 100%;
}

.services>.container {
  display: flex;
}

/* .services::after {
  content: "";
  position: relative;
  top: 100px;
  display: inline-block;
  width: 100%;
  height: 288px;
  background-color: rgb(229, 229, 229);
  z-index: -1;
} */

.services ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.services-menu {
  display: flex;
  flex-direction: column;
  width: 280px;
  height: 319px;
  border-right: 7px solid black;
  justify-content: center;
}

.services-menu-button {
  width: 160px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.services-menu-button.active {
  /* width: 280px; */
  background-color: black;
  position: relative;
}

.services-menu-button.active::after {
  content: "";
  width: 118px;
  height: inherit;
  position: absolute;
  background-color: black;
  top: 0;
  left: 160px;
}

.services-menu-button.active>div {
  background-color: black;
  color: rgb(247, 225, 132);
}

.services-header {
  color: rgb(0, 0, 0);
  font-family: "Gilroy";
  font-size: 47px;
  font-weight: bold;
  letter-spacing: 0.21px;
}

.services-delivery {
  margin-left: 120px;
  padding-top: 40px;
  height: 319px;
  width: 460px;
}

.services-delivery::after {
  content: "";
  display: block;
  position: relative;
  width: 136px;
  height: 164px;
  left: 560px;
  top: -185px;
  background-image: url("../img/svg-device/delivery.svg");
}

.logotypes {
  margin-top: 95px;
}

.logos-item {
  filter: grayscale(100%);
  opacity: 0.2;
  transition: all 2s ease;
}

.logos-item:hover {
  filter: none;
  opacity: 1;
}

.logotypes ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-between;
}

.index-about {
  display: flex;
  margin-top: 95px;
}

.index-about p {
  margin: 0;
  padding: 0;
}

.about {
  display: flex;
  flex-direction: column;
  width: 500px;
  flex-shrink: 0;
}

.contacts {
  display: flex;
  flex-direction: column;
  margin-left: 100px;
}

.about-stroke {
  width: 80px;
  height: 7px;
  background-color: rgb(0, 0, 0);
}

.about h2,
.contacts h2 {
  margin: 0;
  padding: 0;
  color: rgb(0, 0, 0);
  font-family: "Gilroy";
  font-size: 47px;
  font-weight: bold;
  letter-spacing: 0.21px;
  margin-top: 45px;
}

.about>p:first-child,
.contacts>p:first-child {
  margin-top: 50px;
}

.about>p:not(:first-child),
.contacts>p:not(:first-child) {
  margin-top: 30px;
}

.about ul {
  list-style: none;
  margin: 0;
  padding: 0;
  color: rgb(0, 0, 0);
  font-family: "Gilroy";
  font-size: 16px;
  font-weight: bold;
  line-height: 40px;
  margin-top: 60px;
}

.about li {
  padding-left: 37px;
  position: relative;
}

.contacts img {
  margin-top: 37px;
  margin-bottom: 70px;
}

.about-button {
  width: 260px;
  margin-top: auto;
}

.main-footer {
  margin-top: 70px;
  padding: 65px 0;
  background-color: rgb(70, 70, 70);
  color: white;
  /* display: flex;
  flex-direction: column; */
  /* justify-content: space-around; */
}

.main-footer a {
  text-decoration: none;
  margin: 0;
  padding: 0;
}

.main-footer p {
  margin: 0;
  padding: 0;
}

.main-footer li {
  margin: 0;
  padding: 0;
}

.main-footer ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.footer-top,
.footer-bottom,
.footer-middle {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-top {
  margin-bottom: 35px;
}

.footer-middle {
  margin-bottom: 70px;
}

.footer-top-menu ul>li {
  margin-left: 43px;
}

/* ------------------------- */

.footer-top-menu-item {
  color: rgba(255, 255, 255, 0.7);
  font-size: 15px;
  font-weight: 300;
  line-height: 36px;
  letter-spacing: 0.15px;
}

.footer-top-menu-item:hover,
.footer-top-menu-item:focus {
  color: rgba(255, 255, 255, 1);
  outline: none;
}

.footer-top-menu-item:active {
  color: rgba(255, 255, 255, 0.3);
}

.item-compare::before,
.item-enter::before,
.item-chart::before {
  content: "";
  display: inline-block;
  position: relative;
  top: 1px;
  width: 13px;
  height: 12px;
  margin-right: 14px;
  background-position: center;
  background-repeat: no-repeat;
}

.item-compare:hover::before,
.item-enter:hover::before,
.item-chart:hover::before,
.item-compare:focus::before,
.item-enter:focus::before,
.item-chart:focus::before {
  opacity: 0.6;
}

.item-compare:active::before,
.item-enter:active::before,
.item-chart:active::before {
  opacity: 0.3;
}

.item-enter::before {
  background: url("../img/svg-device/user-yellow.svg");
}

.item-compare::before {
  background-image: url("../img/svg-device/compare-yellow.svg");
}

.item-chart::before {
  background-image: url("../img/svg-device/cart-yellow.svg");
}

.footer-middle-menu ul {
  display: flex;
  justify-content: flex-end;
}

.footer-middle ul a {
  color: rgb(255, 255, 255);
  font-family: "Gilroy";
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 3.6px;
}

.footer-middle ul a:hover,
.footer-middle ul a:focus {
  color: rgba(255, 255, 255, 0.7);
}

.footer-middle ul a:active {
  color: rgba(255, 255, 255, 0.3);
}

.footer-middle ul li:nth-child(2) {
  margin: 0 50px;
}

.bottom-stroke {
  width: 80px;
  height: 7px;
  background-color: rgb(255, 198, 0);
}

.social-button {
  opacity: 0.3;
}

.social-button:hover,
.social-button:focus {
  opacity: 0.6;
}

.social-button:active {
  opacity: 0.1;
}

.social-list {
  display: flex;
  flex-basis: 141px;
  justify-content: space-between;
}

.developer-button:hover,
.developer-button:focus {
  opacity: 0.6;
}

.developer-button:active {
  opacity: 0.3;
}

/* Catalog */

.catalog-title {
  margin: 0;
  padding: 0;
  color: rgb(0, 0, 0);
  font-family: "Gilroy";
  font-size: 47px;
  font-weight: bold;
  letter-spacing: 0.17px;
  margin-top: 40px;
  margin-left: 60px;
}

.breadcrumbs {
  margin-top: 18px;
  margin-left: 60px;
}

.breadcrumbs ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.breadcrumbs a {
  color: rgba(0, 0, 0, 0.3);
  font-size: 14px;
  font-weight: 300;
  line-height: 36px;
  letter-spacing: 0.14px;
  padding-right: 40px;
  position: relative;
  display: inline-block;
}

.breadcrumbs a::after {
  content: "";
  width: 4px;
  height: 7px;
  position: absolute;
  top: 15px;
  right: 17px;
  background: url("../img/svg-device/nav-arrow.svg");
}

.breadcrumbs li:last-child>a::after {
  content: none;
}

.breadcrumbs li:last-child>a:active {
  cursor: initial;
}

.breadcrumbs li:not(:last-child)>a:hover,
.breadcrumbs li:not(:last-child)>a:focus {
  color: rgba(0, 0, 0, 0.6);
}

.breadcrumbs li:not(:last-child)>a:active {
  color: rgba(0, 0, 0, 0.1);
}

.filter {
  width: 330px;
  background-color: #efefef;
  position: relative;
  flex-shrink: 0;
  padding-left: 60px;
}

.filter-color li,
.filter-bt li {
  margin-bottom: 15px;
}

.filter-color label,
.filter-bt label {
  padding-left: 40px;
  position: relative;
  user-select: none;
}

.filter input+label::before {
  content: "";
  position: absolute;
  width: 27px;
  height: 23px;
  background: url("../img/svg-device/checkbox-off.svg") no-repeat 0 0;
  top: -2px;
  left: 0px;
}

.filter input:checked+label::before {
  background: url("../img/svg-device/checkbox-on.svg") no-repeat 0 0;
}

.filter-bt input+label::before {
  width: 25px;
  height: 25px;
  background: url("../img/svg-device/radio-off.svg") no-repeat 0 0;
}

.filter-bt input:checked+label::before {
  background: url("../img/svg-device/radio-on.svg") no-repeat 0 0;
}

.filter::before {
  content: "";
  height: inherit;
  width: 3000px;
  background: #efefef;
  position: absolute;
  display: block;
  right: 0px;
  z-index: -1;
}

.filter-form {
  width: 200px;
  padding-top: 70px;
}

.price-range {
  min-height: 65px;
}

.price-range p {
  /* display: block; */
  position: absolute;
  width: 100px;
  margin: 0;
  padding: 0;
  top: 20px;
}

.scale {
  width: 196px;
  height: 2px;
  background-color: rgb(219, 219, 219);
}

.range {
  width: 110px;
  height: 2px;
  background-color: rgb(145, 201, 47);
  position: relative;
}

/* .range>div {
  display: flex;
} */

.range-knob {
  position: absolute;
  width: 20px;
  height: 22px;
  background: url("../img/svg-device/filter-button.svg") no-repeat 0 0;
  top: -10px;
}

.range-min {
  left: 0px;
}

.range-max {
  left: 110px;
}

.filter-form fieldset {
  border: none;
  padding: 0;
  margin: 0;
  position: relative;
  padding-bottom: 20px;
}

.filter-form fieldset::before {
  content: "";
  position: absolute;
  display: block;
  top: 0px;
  width: 200px;
  height: 2px;
  background-color: black;
}

.filter-form legend {
  padding: 0;
  margin: 0;
  color: rgb(0, 0, 0);
  font-family: "Gilroy";
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 0.18px;
  padding-top: 12px;
  margin-bottom: 25px;
}

.filter-form ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.filter-form h2 {
  display: flex;
  width: 100%;
  height: 70px;
  align-items: center;
  justify-content: center;
  background-color: #dbdbdb;
  color: rgb(0, 0, 0);
  font-family: "Gilroy";
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.91px;
}

.catalog-content {
  /* display: flex; */
  margin-top: 45px;
}

.catalog-content-header {
  height: 70px;
  align-items: center;
  display: flex;
  margin-left: 60px;
}

.filter-title {
  display: flex;
  align-items: center;
  width: 270px;
  height: 70px;
  /* background: #dbdbdb; */
  position: relative;
}

.filter-title::before {
  content: "";
  height: inherit;
  width: 3000px;
  background: #dbdbdb;
  position: absolute;
  display: block;
  right: 0px;
  z-index: -1;
}

.catalog-wrapper {
  display: flex;
}

.sort-title {
  display: flex;
  margin-left: 70px;
}

.catalog-content-header h2 {
  margin: 0;
  padding: 0;
  color: rgb(0, 0, 0);
  font-family: "Gilroy";
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}

.sort-navigation {
  display: flex;
  margin-left: 70px;
}

.catalog-content-header::after {
  content: "";
  height: inherit;
  width: 3000px;
  background: rgba(0, 0, 0, 0.08);
  position: absolute;
  display: block;
  left: 0;
  z-index: -1;
}

.sort-navigation ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  margin-left: 55px;
}

.sort-navigation li {
  margin-left: 30px;
}

.sort-navigation a {
  opacity: 0.3;
  color: rgb(0, 0, 0);
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
}

.sort-navigation a:hover,
.sort-navigation a:focus {
  opacity: 0.6;
}

.sort-navigation a:active {
  opacity: 1;
}

.sort-arrows {
  margin-left: auto;
}

.arrow {
  opacity: 0.2;
  margin-left: 20px;
}

.arrow:hover,
.arrow:focus {
  opacity: 0.4;
}

.arrow:active {
  opacity: 1;
}

.catalog {
  margin-top: 70px;
  margin-left: 70px;
}

.catalog-images {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none;
  margin: 0;
  padding: 0;
}

.catalog-item div {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 25px;
  margin-bottom: 50px;
}

.catalog-item div>p {
  margin: 0;
  line-height: normal;
}

.catalog-item div>b {
  color: rgb(0, 0, 0);
  font-family: "Gilroy";
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 0.18px;
  line-height: normal;
  margin: 0;
}

.catalog-pagination {
  display: flex;
  height: 70px;
  background-color: #ebebeb;
  justify-content: space-between;
  align-items: center;
}

.catalog-pagination ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.catalog-pagination>a {
  display: flex;
  height: inherit;
  align-items: center;
  color: rgb(0, 0, 0);
  font-family: "Gilroy";
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.91px;
  padding: 0 30px;
}

.catalog-pagination>a:hover,
.catalog-pagination>a:focus {
  background-color: #d8d8d8;
}

.catalog-pagination>a:active {
  color: rgba(0, 0, 0, 0.3);
}

.paination-digit {
  color: rgb(0, 0, 0);
  opacity: 0.3;
  font-family: "Gilroy";
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.91px;
  padding: 0 15px;
}

.paination-digit:hover,
.paination-digit:focus {
  opacity: 0.6;
}

.paination-digit:active {
  opacity: 1;
}

.current-page {
  opacity: 1;
}